body {
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  margin: 10;
  /* grid-template-areas:
    "header"
    "main"
    "footer"; */
  height: 50vh;
}

main {
  /* grid-area: main; */
  border: 2px solid rgb(125, 24, 24);
  padding: 15px;
  border-radius: 15px;
}
header {
  /* grid-area: header; */
  border: 2px solid rgb(48, 41, 41);
  padding: 15px;
  border-radius: 15px;
}

footer {
  /* grid-area: footer; */
  border: 2px solid lightcoral;
  border-radius: 10px;
  padding: 10px;
}
